#plate{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    margin:0 auto;
}
#cup_space{
    margin: 95px;
}
.cup{
    border-left: 7px solid grey;
    border-right: 7px solid grey;
    width: 200px;
    height: 50px;
}
.cup_bottom{
    border-bottom: 7px solid grey;
}

/* button*/
#btn_div{
    margin: 0 auto;
    width: 230px;
    height: 60px;
}
#cup_appear_btn{
    width: 100px;
    height: 30px;
}
#pour_water_btn{
    width: 100px;
    height: 30px;
}